nav .navv {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

body {
    background: linear-gradient(to bottom right, #373737, #ff9d00);
}

.cart {
    text-decoration: none;
    color: white;
    transition: color .5s ease;
    display: inline;
    font-size: 22px;
}

.cart :hover {
    color: #ff9d00;
}

.cartBtn :hover {
    color: #ff9d00;
}

.cartBtn {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
}

.sign_in {
    text-decoration: none;
    margin-left: 0.5rem;
    color: white;
    transition: color .5s ease;
    display: inline;
}

.card h5 {
    margin-top: 0;
}

.sign_in :hover {
    color: #ff9d00;
}

.sign_in i {
    transition: color .5s ease;
}

.sign_in i:hover {
    color: #ff9d00;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    transform: translate(-10%, -10%);
    background: rgb(245, 192, 94);
    border-radius: 50px;
    padding: 5px;
    margin-right: 1rem;
}

.search-wrapper:hover>.search {
    width: 150px;

}

.srh-btn {
    display: flex;
    float: right;
    color: #ff9d00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

.aboutus {
    font-size: 21px;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 22px;
    justify-content: center;
}


/*******************************************/
.products-container {

    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.image {
    width: 20rem;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ff9d00;
    box-shadow: #ee9404 0px 5px 15px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid grey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 50%;
    display: flex;
    align-items: center;
}

.product {
    margin-left: 2rem;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid grey;
}

.cartn {
    margin-left: 1rem;
    margin-right: 2rem;
}

.fa-circle-xmark {
    font-size: 25px;
    color: #ff9d00;
    cursor: pointer;
}