@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

nav .navv {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.cart {
    text-decoration: none;
    color: white;
    transition: color .5s ease;
    display: inline;
    font-size: 22px;
}

.cart :hover {
    color: #ff9d00;
}

.cartBtn :hover {
    color: #ff9d00;
}

.cartBtn {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
}

.sign_in {
    text-decoration: none;
    margin-left: 0.5rem;
    color: white;
    transition: color .5s ease;
    display: inline;
}

.card h5 {
    margin-top: 0;
}

.sign_in :hover {
    color: #ff9d00;
}

.sign_in i {
    transition: color .5s ease;
}

.sign_in i:hover {
    color: #ff9d00;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    transform: translate(-10%, -10%);
    background: rgb(245, 192, 94);
    border-radius: 50px;
    padding: 5px;
    margin-right: 1rem;
}

.search-wrapper:hover>.search {
    width: 150px;

}

.srh-btn {
    display: flex;
    float: right;
    color: #ff9d00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

.aboutus {
    font-size: 21px;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 22px;
    justify-content: center;
}

/*********************** BODY OF INDEX ***********************/
body {
    background-color: #292b2c;
}

.h5 {
    margin-top: 1rem;
}

.carousel {
    background-color: rgba(0, 0, 0, 0.308);

}

.carousel-inner {
    margin: auto;
    width: auto;
    align-items: center;
}

.add-cart {
    text-decoration: none;
    color: black;
}

.w-100 {
    width: 70% !important;
    /* height: 75vh; */

    margin-left: 14rem;
    height: 570px;
    border-radius: 50px;
}

.caText {
    display: flex;
    justify-content: center;
    color: #ff9d00;
}

.caText2 {
    display: flex;
    justify-content: center;
    color: #ff9d00;
}

.price {
    font-size: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    position: relative;
    margin: 2rem auto;
    padding: 4em 0 0;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 2rem;
    box-shadow: #ee9404 0px 5px 15px;
}

.card figure {
    position: relative;
    /* float: left; */
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    /* width: 48%; */
    text-align: center;
}

.card figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.card figure figcaption {
    padding: 2em;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 0.1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card figure figcaption::before,
.card figure figcaption::after {
    pointer-events: none;
}

.card figure figcaption,
.card figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-img-top {
    margin-left: 2rem;
    max-width: 100%;
    width: 250px;
    height: 230px;
    align-self: center;
}

.card figure p {
    font-size: 68%;
}


figure.cardeffect figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 5rem;
    background: #292b2c;
    color: #ee9404;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.cardeffect h2 {
    float: left;
}

figure.cardeffect p.description {
    position: absolute;
    bottom: 6em;
    padding: 2em;
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.description {
    overflow: scroll;
    height: 100px
}

.description::-webkit-scrollbar {
    display: none;
}

figure.cardeffect h2 {
    display: inline-block;
}

figure.cardeffect:hover p.description {
    opacity: 1;
}

.card figure img {
    opacity: 1;
}

.card figure:hover img {
    opacity: 0.4;
}

figure.cardeffect:hover figcaption,
figure.cardeffect:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to bottom right, #000000, #ff9d00);
    height: 100vh;
}

.container {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    margin-top: 5rem;
    background-color: rgb(69, 69, 69);
    color: white;
}
.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;
}


.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #dc3545;
    border-bottom: 2px solid #dc3545;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #ee9404;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}