nav .navv {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.cart {
    text-decoration: none;
    color: white;
    transition: color .5s ease;
    display: inline;
    font-size: 22px;
}

.cart :hover {
    color: #ff9d00;
}

.cartBtn :hover {
    color: #ff9d00;
}

.cartBtn {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
}

.sign_in {
    text-decoration: none;
    margin-left: 0.5rem;
    color: white;
    transition: color .5s ease;
    display: inline;
}

.card h5 {
    margin-top: 0;
}

.sign_in :hover {
    color: #ff9d00;
}

.sign_in i {
    transition: color .5s ease;
}

.sign_in i:hover {
    color: #ff9d00;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    transform: translate(-10%, -10%);
    background: rgb(245, 192, 94);
    border-radius: 50px;
    padding: 5px;
    margin-right: 1rem;
}

.search-wrapper:hover>.search {
    width: 150px;

}

.srh-btn {
    display: flex;
    float: right;
    color: #ff9d00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

.aboutus {
    font-size: 21px;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 22px;
    justify-content: center;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
body {background: linear-gradient(to bottom right, #303030, #ff9d00);}
.section-bg {
    background: linear-gradient(to bottom right, #303030, #ff9d00);
}

section {
    padding-bottom: 80px;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/*======products-details=====*/
._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
}

._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}

.p-list span {
    margin-right: 15px;
}

.p-list span.price {
    font-size: 25px;
    color: #318234;
}

._p-qty>span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}

._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}

.p-list {
    margin-bottom: 10px;
}

._p-features>span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

._p-add-cart .buy-btn {
    background-color: #fd7f34;
    color: #fff;
}

._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 52px;
}

._p-add-cart .btn {
    margin: 0px 8px;
}

/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #fd7f34;
    font-weight: 700;
    line-height: 1.2em;
}

.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #fd7f34;
}

.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #ffc107;
}


.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #fd7f34;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}


.sq_box span.wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
}

.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}

.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.sq_box .price-box {
    margin-bottom: 15px !important;
}

.sq_box .btn {
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 15px;
    color: #fff;
    background-color: #fd7f34;
    font-weight: 600;
}

.sq_box .price-box span.price {
    text-decoration: line-through;
    color: #6c757d;
}

.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}

.sq_box .price-box span.offer-price {
    color: #28a745;
}

.proimg {
    box-shadow: #bdbdbd 0px 5px 15px;
    width: 300px;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}