* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*********************** NAVBAR ***********************/
nav .navv {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.cart {
    text-decoration: none;
    color: white;
    transition: color .5s ease;
    display: inline;
    font-size: 22px;
}

.cart :hover {
    color: #ff9d00;
}

.cartBtn :hover {
    color: #ff9d00;
}

.cartBtn {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
}

.sign_in {
    text-decoration: none;
    margin-left: 0.5rem;
    color: white;
    transition: color .5s ease;
    display: inline;
}

.card h5 {
    margin-top: 0;
}

.sign_in :hover {
    color: #ff9d00;
}

.sign_in i {
    transition: color .5s ease;
}

.sign_in i:hover {
    color: #ff9d00;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    transform: translate(-10%, -10%);
    background: rgb(245, 192, 94);
    border-radius: 50px;
    padding: 5px;
    margin-right: 1rem;
}

.search-wrapper:hover>.search {
    width: 150px;

}

.srh-btn {
    display: flex;
    float: right;
    color: #ff9d00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

.aboutus {
    font-size: 21px;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 22px;
    justify-content: center;
}

/*********************** BODY OF INDEX ***********************/
body {
    background-color: #292b2c;
}

.h5 {
    margin-top: 1rem;
}

.carousel {
    background-color: rgba(0, 0, 0, 0.308);

}

.carousel-inner {
    margin: auto;
    width: auto;
    align-items: center;
}

.add-cart {
    text-decoration: none;
    color: black;
}

.w-100 {
    width: 70% !important;
    /* height: 75vh; */

    margin-left: 14rem;
    height: 570px;
    border-radius: 50px;
}

.caText {
    display: flex;
    justify-content: center;
    color: #ff9d00;
}

.caText2 {
    display: flex;
    justify-content: center;
    color: #ff9d00;
}

.price {
    font-size: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    position: relative;
    margin: 2rem auto;
    padding: 4em 0 0;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 2rem;
    box-shadow: #ee9404 0px 5px 15px;
}

.card figure {
    position: relative;
    /* float: left; */
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    /* width: 48%; */
    text-align: center;
}

.card figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.card figure figcaption {
    padding: 2em;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 0.1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card figure figcaption::before,
.card figure figcaption::after {
    pointer-events: none;
}

.card figure figcaption,
.card figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-img-top {
    margin-left: 2rem;
    max-width: 100%;
    width: 250px;
    height: 230px;
    align-self: center;
}

.card figure p {
    font-size: 68%;
}


figure.cardeffect figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 5rem;
    background: #292b2c;
    color: #ee9404;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.cardeffect h2 {
    float: left;
}

figure.cardeffect p.description {
    position: absolute;
    bottom: 6em;
    padding: 2em;
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.description {
    overflow: scroll;
    height: 100px
}

.description::-webkit-scrollbar {
    display: none;
}

figure.cardeffect h2 {
    display: inline-block;
}

figure.cardeffect:hover p.description {
    opacity: 1;
}

.card figure img {
    opacity: 1;
}

.card figure:hover img {
    opacity: 0.4;
}

figure.cardeffect:hover figcaption,
figure.cardeffect:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*********************** SIGN IN ***********************/
.signInBgc {
    background: linear-gradient(to bottom right, #000000, #ff9d00);
    height: 88vh;
}

.checkbox {
    color: white;
}

.h1Sign {
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 35px;
}

.abtn {
    text-decoration: none;
    color: #ff9d00;
    margin-bottom: 1rem;
}

.btn {
    margin-bottom: 5px;
}

.register {
    color: white;
    margin-top: 1rem;
    text-decoration: none;
}

.remember {
    color: #ff9d00;
    display: inline-block;
    margin-left: 5px;
}

.form {
    border: solid #ff9d00 1px;
}

.container {
    color: white;
    display: flex;
    justify-content: center;
    
}
/**********************************FOOTER********************************/

footer {
    background: rgb(37, 37, 37);
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    font-size: 24px;
}

.footer-content h4 {
    margin-top: 10px;
    color: #ff9d00;
}

.socials {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0 2rem 3rem 0;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: #ff9d00;
}

.addbtnc {
    background-color: #FFFFFF;
    border: 2px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.addbtnc:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.addbtnc:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.addbtnc:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

/************************ CART ***********************/

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    color: white;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.fa-circle-xmark {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.cartimg {
    width: 100px;
}

.product-header {

    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 55%;

    display: flex;
    align-items: center;

}

.priceq {
    width: 15%;

    display: flex;
    align-items: center;
    margin-left: 27rem;
}

.product {
    width: 45%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;

    padding: 10px 0;
    align-items: center;
    margin-right: 20rem;
}

.page {
    background-color: #fff;
}

.paddingTB60 {
    padding: 60px 0px 60px 0px;
}

.gray-bg {
    background: #F1F1F1 !important;
}

.about-title h1 {
    color: #535353;
    font-size: 45px;
    font-weight: 600;
}

.about-title span {
    color: #ee9404;
    font-size: 45px;
    font-weight: 700;
}

.about-title h3 {
    color: #535353;
    font-size: 23px;
    margin-bottom: 24px;
}

.about-title p {
    color: #7a7a7a;
    line-height: 1.8;
    margin: 0 0 15px;
}

.about-paddingB {
    padding-bottom: 12px;
}

.about-img {
    padding-left: 57px;
}

.about-icons {
    margin: 48px 0px 48px 0px;
}

.about-icons i {
    margin-right: 10px;
    padding: 0px;
    font-size: 35px;
    color: #323232;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.about-icons li {
    margin: 0px;
    padding: 0;
    display: inline-block;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .01s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .01s;
}

#social-gh:hover {
    color: #cacaca;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .01;
}